@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes auroraMove {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  50% {
    transform: translate(-10%, -10%) scale(1.1);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}